body{background-color: black;}
h1{
    color: white;
    text-align: center;
    
    font-family: "Libre Baskerville";
    text-transform:uppercase;
    width: 50%;
    margin-left: 25%;
}
p{
    color: white;
    text-align: center;
    
    width: 50%;
    margin-left: 25%;
}
#picture{
    border: solid white 5px;
}
#everything{
    width: 50%;
    margin-left: 25%;
}
#pictures{
    
}
.libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
  }

  